body{
    text-align: center;
    font-family: 'courier';
    color: blue;
}
#container{
    width: 70%;
    border: 1px solid blueviolet;
    padding: 10px;
    margin: 0px auto;
}
#cabecera{
    text-align: left;
    margin: 0px auto;
    width: 70%;
    box-shadow:  -16px 11px 26px -5px rgba(112,108,112,0.66);
    background: chartreuse;
    padding: 15px;
}