body{
    text-align: center;
    font-family: 'times new roman';
    color: black;
}
#container{
    width: 70%;
    border: 1px solid blueviolet;
    padding: 10px;
    margin: 0px auto;
}
#cabecera{
    display: flex;
    justify-content:left;
    align-items: center;
    text-align: left;
    margin: 0px auto;
    width: 70%;
    box-shadow:  -16px 11px 26px -5px rgba(112,108,112,0.66);
    background: #1A5276;
    padding: 15px;
    color: #D0D3D4;
}
#logo{
    width: 20px;
    height: 30px;
    margin-right: 5px;
}